<div class="container">
  <div class="content">
    <div class="mentor-account__top-line">
      <h2 class="mentor-account__title">My Account</h2>

      <div class="mentor-account__top-actions">
        <div class="mentor-account__slide" *ngIf="currentRole === 'mentor'">
          <mat-slide-toggle
            [checked]="isAccountActivated"
            [labelPosition]="'before'"
            (toggleChange)="toggleAccountActivate()"
            >Account Activated
          </mat-slide-toggle>
        </div>

        <button class="mentor-account__btn" (click)="toggleRole()">
          {{currentRole == 'mentor' ? 'Move to mentee account' : 'Move to mentor account'}}
        </button>
      </div>
    </div>

    <div class="mentor-account__avatar-upload">
      <div class="mentor-account__avatar-section" (click)="fileInput.click()">
        <span *ngIf="!isAvatar">My photo</span>
        <span id="output"></span>
        <img src="./../../../assets/images/file_upload.svg" alt="avatar">
      </div>

      <div class="mentor-account__upload-section">
        <input type="file" #fileInput (change)="onFileSelected($event)">

        <div class="mentor-account__upload-field">{{textFieldUpload}}</div>
        <button class="mentor-account__upload-btn" (click)="onUpload()">Upload</button>
      </div>
    </div>

    <div [ngSwitch]="true">
      <div class="mentor" *ngSwitchCase="currentRole === 'mentor'">
        <app-account-mentor></app-account-mentor>
      </div>

      <div class="mentee" *ngSwitchCase="currentRole === 'mentee'">
        <h2>Mentee</h2>
        <app-account-mentee></app-account-mentee>
      </div>
    </div>
  </div>
</div>
