<div class="mentorship-request__item">
  <div class="mentorship-request__inner">
    <div class="mentorship-request__avatar">
      <div class="user-avatar">
        <div class="user-avatar__border">
          <img class="avatar" src="{{mentee?.img}}" alt="Avatar">
        </div>
      </div>
    </div>
    <div class="mentorship-request__user-name">{{mentee?.name}}</div>
    <button class="mentorship-request__ignore mentorship-request__btn">IGNORE</button>
    <button class="mentorship-request__accept mentorship-request__btn">ACCEPT</button>
  </div>
  <hr>
</div>
