@import "variables";

.container{ 
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    color: black;
    h1, h2{
        font-family: 'Roboto', sans-serif;  
    }
    p {
        padding: 5px 0;
    }
}