@import "variables";

.containerM{ 
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    color: black;
    background-color: white;
    //background: -webkit-linear-gradient(180deg, rgb(244, 244, 244), rgb(255, 255, 255));
    //background: -moz-linear-gradient(180deg, rgb(244, 244, 244), rgb(255, 255, 255));
    //background: linear-gradient(180deg, #f4f4f4, rgb(255, 255, 255));
    padding: 10px 30px 50px 30px;
    a{
        color: $fuschia100;
        font-weight: bold;
        cursor: pointer;
    }
    h1, h2{
       @include title; 
       padding: 5px 0;  
    }
    h1 {
        text-align: center;
        font-size: 40px;
    }
    h3{
        color: $grey;  
    }
    p {
        padding: 5px 0;
    }
}