<div class="container">
    <div class="row_search">
        <div class="search-users">
          <div class="input_container">
            <input class="form-control search" 
              type="text" name="search" 
              [(ngModel)]="searchText" autocomplete="off" 
              placeholder=" Start searching for a user "
            >
            <i class="fas fa-search"></i>
          </div>
        </div>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Appoint</th> 
            <th scope="col">Ban user</th>
          </tr>
        </thead>
        <app-users-item 
          *ngFor="let user of users | filter:searchText" 
          [user]="user" 
          [searchText]="searchText"
        >
        </app-users-item>
      </table>
</div>
<router-outlet></router-outlet>
</div>
</div>

  





