<section class="introduction">
  <div class="container">
    <div class="introduction__bg-wrapper">
      <div class="introduction__inner">
        <div class="introduction__info">
          <h1 class="introduction__info-exhortation">
            <span class="introduction__info-start">Start</span><span class="introduction__info-your">your</span>
            Learning
          </h1>
          <p class="introduction__info-slogan">Build Your Skills</p>
          <a class="introduction__info-btn" (click)="goTo('mentor')">Find Mentor</a>
        </div>
        <img class="introduction__img" src="./../../../../../assets/images/mentor_puzzle.png" alt="Mentor">
      </div>
    </div>
  </div>
</section>