<div class="content">
  <form class="mentor" (ngSubmit)="onSubmit()" [formGroup]="mentorForm">
    <fieldset class="mentor__form-group">
      <div class="mentor__form-field">
        <span class="mentor__label">First Name 
          <span class="star">*</span>
        </span>

        <div class="mentor__control-wrapper">
          <input
            [ngClass]="invalidCheck('firstName')"
            id="firstName"
            type="text"
            class="mentor__control"
            formControlName="firstName"
          />
          <p class="invalid-text" *ngIf="invalidCheck('firstName')">
            Please input alphabet characters only. Name must be at least 2
            characters long and max length - 15 characters
          </p>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">Last Name</span>

        <div class="mentor__control-wrapper">
          <input
            [ngClass]="invalidCheck('lastName')"
            id="lastName"
            type="text"
            class="mentor__control"
            formControlName="lastName"
          />
          <p class="invalid-text" *ngIf="invalidCheck('lastName')">
            Please input alphabet characters only. Name must be at least 2
            characters long and max length - 15 characters
          </p>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">About <span class="star">*</span></span>
        <div class="mentor__control-wrapper">
          <textarea
            [ngClass]="invalidCheck('description')"
            id="description"
            rows="5"
            class="mentor__control"
            formControlName="description"
          >
          </textarea>
          <p class="invalid-text" *ngIf="invalidCheck('description')">
            Please input alphabet characters only. Name must be at least 2
            characters long and max length - 15 characters
          </p>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label mentor__teach"
          >I can teach <span class="star">*</span></span
        >
        <div class="mentor__control-wrapper">
          <mat-form-field>
            <mat-label>Categories</mat-label>
            <mat-select [required]="true" [formControl]="categoryForm" multiple>
              <mat-option *ngFor="let category of categories" [value]="category">
                {{ category.categories.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mentor__form-field rate-field">
        <div class="mentor__rate-wrapper">
          <div>
            <span class="mentor__label"
              >Rate <span class="star">*</span>
            </span>
            <div class="mentor__control-wrapper">
              <input
                [ngClass]="invalidCheck('rate')"
                id="rate"
                type="text"
                class="mentor__control mentor__rate-input"
                formControlName="rate"
              />
              <p class="invalid-text" *ngIf="invalidCheck('rate')">Please input numbers only</p>
            </div>
          </div>

          <div>
            <span class="mentor__label"
              >Currency <span class="star">*</span>
            </span>
            <mat-form-field>
              <mat-select [required]="true" [formControl]="carrencyForm">
                <mat-option *ngFor="let item of currency" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">Email <span class="star">*</span></span>
        <div class="mentor__control-wrapper">
          <input
            [ngClass]="invalidCheck('email')"
            id="email"
            type="email"
            formControlName="email"
            class="mentor__control"
          />
          <p class="invalid-text" *ngIf="invalidCheck('email')">
            Please provide a valid email address
          </p>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label"
          >Phone number <span class="star">*</span></span
        >
        <div class="mentor__control-wrapper">
          <input
            type="text"
            formControlName="phoneNumFirst"
            class="mentor__control"
            [ngClass]="invalidCheck('phoneNumFirst')"
          />
          <p class="invalid-text" *ngIf="invalidCheck('phoneNumFirst')">
            Input numbers only
          </p>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">LinkedIn</span>
        <div class="mentor__control-wrapper">
          <input
            type="text"
            formControlName="linkedIn"
            class="mentor__control"
          />
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">Facebook</span>
        <div class="mentor__control-wrapper">
          <input
            type="text"
            formControlName="facebook"
            class="mentor__control"
          />
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">YouTube</span>
        <div class="mentor__control-wrapper">
          <input
            type="text"
            formControlName="youtube"
            class="mentor__control"
          />
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">Certificates</span>
        <div class="mentor__control-wrapper">
          <textarea
            id="certificates"
            rows="5"
            class="mentor__control"
            formControlName="certificates"
          >
          </textarea>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">I can work with a group</span>
        <div class="mentor__control-wrapper">
          <mat-slide-toggle
            [checked]="groupWork"
            (toggleChange)="OnGroupWork()"
            formControlName="groupServ"
          >
          </mat-slide-toggle>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label mentor__teach"
          >Languages <span class="star">*</span></span
        >
        <div class="mentor__control-wrapper">
          <mat-form-field>
            <mat-label>Categories</mat-label>
            <mat-select [required]="true" [formControl]="langForm" multiple>
              <mat-option *ngFor="let item of langList" [value]="langForm">{{
                item
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label">Work</span>
        <div class="mentor__control-wrapper" [ngClass]="checkBox()">
          <mat-checkbox formControlName="remotely">Remotely</mat-checkbox>
          <mat-checkbox formControlName="offline">Offline</mat-checkbox>
        </div>
      </div>

      <div class="mentor__form-field">
        <span class="mentor__label mentor__teach">Location</span>
        <div class="mentor__control-wrapper">
          <mat-form-field>
            <mat-label>Categories</mat-label>
            <mat-select [formControl]="locForm">
              <mat-option *ngFor="let item of locList" [value]="locForm">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <button class="mentor__btn">Save Profile</button>
    </fieldset>
  </form>
  <button class="mentor__btn" (click)="onShowProfile()">View Public Profile</button>
</div>
