@import "variables";

footer{
    .container{
    background-color: $fuschia80;
    height: 150px;
    @extend %base-font;
    margin: auto;
    *{
        color: white;
    }
    p{
        font-size: 18px;
        padding: 5px;
    }
    .mainText {
        display: flex;
        justify-content: space-between;
        justify-items: flex-start;
        padding: 20px 0 0 0;
        .projectName {
            padding-left: 30px;
            p.appName{
                font-size: 36px;
            }
        }
        .footerLinks{
            padding: 0 100px 0 0;
            text-align: center;
        a{
            text-decoration: none;
        }
        a:hover{
            color: #524C6F;
        }
    }
    }
    .textBottom{
        text-align: center;
        font-size: 16px;
        padding-top: 20px;
    }
}
}

