<div class="mentorship-approve__item">
    <div class="mentorship-approve__inner">
      <div class="mentorship-approve__avatar">
        <div class="user-avatar">
          <div class="user-avatar__border">
            <img class="avatar" src="../../../../assets/images/mentor.png" alt="Avatar">
          </div>
        </div>
      </div>
      <a class="mentorship-approve__user-name" routherlink="#">John Johnson</a>
      <p class="mentorship-approve__text"> approved your mentorship request</p>
    </div>
    <hr>
  </div>
