$darkblue: #524C6F;
$fuschia100: #3AB67D;
$fuschia80: #5CC092;
$fuschia60: #7FC9A7;
$green: #52D197;
$grey: #A3A3A3;
$lightgray: #DEDEDE;
$black: #26242E;
$red: #FC3665;
%base-font{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
}