<section class="signup">
	<div class="signup-container container">
		<div class="signup__row">
			<form action="" [formGroup]="signUpGroup" (ngSubmit)="submitSignUpGroup()">
				<div class="signup__inner">
					<h2 class="signup__title">Create Your Account</h2>
					<div class="signup__email form-floating">
						<div for="exampleFormControlInput1" class="form-label"><span>E-mail</span></div>
						<input (input)="showTooltip=false" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email"
							[class.is-invalid]="signUpGroup.get('email')?.errors&&signUpGroup.get('email')?.touched"
							[class.is-valid]="signUpGroup.get('email')?.valid" formControlName="email">
						<div class="valid-feedback">Success! You've done it.</div>
						<div class="invalid-feedback">Wrong email!</div>
						<label for="floatingInput">name@example.com</label>
						<div *ngIf="showTooltip" class="input-tooltip">
							<div class="toast">
								<div class="toast-body">
									{{tooltipMessage}}
								</div>
								<button type="button" class="btn-close ms-2 mb-1" (click)="showTooltip=false"></button>
							</div>
						</div>
					</div>
					<div class="signup__password form-floating">
						<input [class.is-invalid]="signUpGroup.get('password')?.errors&&signUpGroup.get('password')?.touched"
							[class.is-valid]="signUpGroup.get('password')?.valid" type="password" class="form-control"
							id="floatingPassword" placeholder="Password" formControlName="password">
						<div class="valid-feedback">Success!</div>
						<div class="invalid-feedback">Minimum 8 characters, uppercase letters and numbers</div>
						<label for="floatingPassword">**************</label>
					</div>
					<div class="signup__radios">
						<div class="form-check">
							<input class="form-check-input" type="radio" id="exampleRadios1" value="mentee" checked
								formControlName="checkRole">
							<label class="form-check-label" for="exampleRadios1">
								I’m looking for Mentor
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="exampleRadios2" value="mentor"
								formControlName="checkRole">
							<label class="form-check-label" for="exampleRadios2">
								I’m Mentor
							</label>
						</div>
					</div>
					<div class="signup__checkbox">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value=""
								formControlName="rules">
							<label class="form-check-label" for="inlineCheckbox1">
								<span class="signup__checkbox-text">By Signing Up I agree with </span>
								<a routerLink="/terms" class="signup__checkbox-rules">Terms & Conditions</a>
							</label>
							
						</div>
					</div>
					<div class="signup__btn">
						<button [disabled]="signUpGroup.invalid||btnDisabled" class="btn" type="submit">Register
							Now</button>
						<div class="btn-label-disabled"></div>
					</div>
					<div class="signup__subtitle">
						<span class="signup__subtitle-text">Register Using Social Network</span>
					</div>
					<div class="signup__social-icons">
						<div class="signup__social-icon-wrapper" disabled>
							<a href="#" class="signup__social-icon">								
								<i class="fab fa-facebook"></i>
							</a>
						</div>
						<div class="signup__social-icon-wrapper" disabled>
							<a href="#" class="signup__social-icon">								
								<i class="fab fa-google-plus"></i>
							</a>
						</div>
						<div class="signup__social-icon-wrapper" disabled>
							<a href="#" class="signup__social-icon">								
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>

					</div>
					<div class="signup__member">
						<span class="signup__member-text">
							I’m already member?
						</span>
						<a [routerLink]="['/auth/login']" class="signup__member-login">
							Login
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<div *ngIf = "showSpiner" class="spiner-preloder__wrapper">
	<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

