@import "variables";
@import "reset";

.container{
    background: -webkit-linear-gradient(180deg, rgb(244, 244, 244), rgb(255, 255, 255));
    background: -moz-linear-gradient(180deg, rgb(244, 244, 244), rgb(255, 255, 255));
    background: linear-gradient(180deg, rgb(244, 244, 244), rgb(255, 255, 255));
    .card{
        margin: 0;
        border: none;
        box-shadow: 0 5px 10px #A3A3A3;
        *{
            padding: 5px;
            font-family: 'Roboto', sans-serif;
            h5{
                color: $darkblue;
                font-size: 25px;
                padding-bottom: 0;
            }
            form{
                input{
                    border-radius: 5px;
                }
                input:focus {
                    box-shadow: 0 0 0 0.2rem rgba(163, 163, 163, .25);
                }
                button {
                    background-color: $darkblue;
                    border-radius: 15px;
                    font-size: 16px;
                    width: 160px;
                    height: 50px;
                    color: white;
                    @include btn-shadow;
                }
                button:disabled:hover{
                    @include btn-shadow;
                }
                button:hover {
                    box-shadow: 0 0 15px $darkblue;
                }
                .infoLine {
                    font-size: 18px;
                    color: $fuschia100;
                    padding: 5px;
                    font-weight: 700;
                }
            }
        }
        
    }
}