/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    max-width: 300px;
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 38px;
    color: #26242e;
    margin-bottom: 50px;
    span {
      display: block;
      color: #3ab67d;
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    border: 1px solid #3ab67d;
    border-radius: 10px;
    img {
      max-width: 140px;
      max-height: 140px;
    }
  }
  &__cell-content{
    max-width: 340px;
    max-height: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__cell-title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    color: black;
  }
  &__cell-text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: black;
    line-height: 25.5px;
  }
  &__cell-name {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    color: black;
    position: relative;
    &::after{
      position: absolute;
      content: url('../../../../../assets/images/reviews-slider/rate.svg');
      right: 0;
    }
  }
}

@media (min-width: 320px) {
  .slider {
    &__title {
      font-size: 30px;
    }
  }
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
