<div class="container">
  <div class="row title">
    <p class="d-flex ms-5 col-2">Settings</p>
    <div class="row mainsection mx-4">
      <div class="col-2 me-3 aside">
        <ul>
          <li>
            <span class="option selected">
              <i class="fas fa-user"></i>
              <p>Change role</p>
            </span>
          </li>
          <li routerLink="/account/settings">
            <span class="option">
              <i class="fas fa-lock"></i>
              <p>Change password</p>
            </span>
          </li>
          <li>
            <span class="option">
              <i class="fas fa-globe"></i>
              <p>Language</p>
            </span>
          </li>
          <li>
            <span class="delete">
              <i class="fas fa-trash-alt"></i>
              <p>Delete Account</p>
            </span>
          </li>
        </ul>
      </div>

      <div class="col-8 content"></div>
    </div>
  </div>
</div>
