<div class="table-responsive">
  <div class="row">
    <div class="col md-12">
        <h1>Adding new category for the Mentors</h1>           
        <mat-form-field >
        <mat-label>Mentors category</mat-label>
        <input matInput [(ngModel)]="newCateg">
        <button mat-raised-button (click)='addCategory()'>Add</button>
      </mat-form-field>
         
         
        
        
    

             
    </div> 
  </div>
</div>

<div class="table_categories">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Categories</th>
      
    </tr>
  </thead>
  <tbody >
    <tr *ngFor='let item of categories'>
      <td>{{item}}</td>
      <td>  </td>
    <tr>
  </tbody>
</table> 
</div>  


           
  


