
<div class="container">
    <div class="row">
       
    <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Category</th>
            <button type="button" class="btn btn-outline-dark btn-sm">Add new Category</button>
          </tr>
        </thead>
        <tbody *ngFor="">
            <tr>
            <!-- <th scope="row">1</th> -->
          </tr>
          
           
        </tbody>
      </table>
    </div>  
    <!-- <mat-paginator [length]="100"
              [pageSize]="14"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>  -->


 </div>
<router-outlet></router-outlet>