/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~bootswatch/dist/minty/variables";
@import "~bootswatch/dist/minty/bootstrap.min.css";
@import "variables";
@import "reset";

body {
  background-color: $bg;
  min-width: 1140px;
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  ::-webkit-scrollbar {
    background-color: #dedede;
    width: 10px;
    // border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(58, 182, 125, 0.8);
    border-radius: 20px;
  }
}

.pagination {
  list-style-type: none;
  display: flex;

  li {
    cursor: pointer;
    margin-right: 3px;
  }
}


