<section class="sign-in">
  <form class="sign-in__form form" [formGroup]="signInGroup" (ngSubmit)="submitForm()" >
    <h5 class="form__title">Login Into Your Account</h5>

    <div class="form-group form__content">
      <label class="form-label" [style.color]="'black'">Email</label>
      <div class="form-floating mb-4">
        <input 
          id="floatingInput"
          type="email" 
          class="form-control" 
          [ngClass]="{'errorData': isInvalidField('email')}"
          placeholder="name@example.com" 
          formControlName="email"
        >
        <div *ngIf="isInvalidField('email')">
          Please enter a valid email!
        </div>
        <label for="floatingInput">name@example.com</label>
      </div>

      <label class="form-label" [style.color]="'black'">Password</label>
      <div class="form-floating mb-5">
        <input 
          id="floatingPassword"
          type="password" 
          class="form-control" 
          [ngClass]="{'errorData': isInvalidField('password')}"
          placeholder="Password" 
          formControlName="password"
        >
        <div *ngIf="isInvalidField('password')">
          Your password must contain 8 character
        </div>
        <div class="error-feedback" [hidden]="!errorData || isInvalidPass">Wrong email or password!</div>
        <label for="floatingPassword">**************</label>
      </div>

      <div class="row my-3">
        <div class="form-check col-6 checkboxLabel">
          <input 
            class="form-check-input m-0" 
            formControlName="signed" 
            type="checkbox" 
            value="" 
            id="flexCheckDefault"
          >
          <label class="form-check-label lab" for="flexCheckDefault">
            Keep me signed in
          </label>
        </div>

        <a routerLink="/auth/reset-password" class="col-6 forgotPass">Forgot Password?</a>
      </div>

      <div class="signin__btn row justify-content-center mt-4">
        <button  
          [disabled]="signInGroup.invalid || false" 
          class="btn  col-md-10"
          type="submit"
        >Login</button>
      </div>

      <div class="row m-5 justify-content-center">
        <p class="col-12 log">or Login with</p>
      </div>

      <div class="row justify-content-center">
        <a routerLink="" class="col-3 soc-link facebook"><i class="fab fa-facebook"></i></a>
        <a routerLink="" class="col-3 soc-link google"><i class="fab fa-google-plus"></i></a>
        <a routerLink="" class="col-3 soc-link linkedin"><i class="fab fa-linkedin-in"></i></a>
      </div>

      <div class="row d-flex justify-content-center mt-5 mb-3">
        <div class="col-10" [style.textAlign]="'center'">
          <span>Don’t have an account? <a routerLink="/signup">Register Now!</a></span>
        </div>
      </div>
    </div>
  </form>
</section>