<div class="container mt-3 d-flex justify-content-center mb-6">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="text-left">
                <h6>All comments(4)</h6>
            </div>
            <div class="card p-2 mb-2">
                <div class="d-flex flex-row"> <img src="https://i.imgur.com/dwiGgJr.jpg" height="40" width="40" class="rounded-circle ml-1">
                    <div class="d-flex flex-column ms-2">
                        <h6 class="card-title pl-2 mb-2">Natalka</h6>
                        <p class="card-text pl-2 mb-3">Amazing experience with Mentor4you services... Words can’t describe how helpful were Mentor staff members. Always there when facing challenges. Highly recommend Mentor after this experience.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row gap-3 align-items-center">
                        <div class="d-flex align-items-center"><button type="button" class="btn btn-secondary btn-sm mb-2 ml-2">Comment</button></div>
                    </div>
                    <div class="d-flex flex-row"> <span class="text-muted fw-small fs-8">August 10,2021 12:10 PM</span> </div>
                </div>
            </div>
            <div class="card p-3 mb-2">
                <div class="d-flex flex-row"> <img src="https://i.imgur.com/hczKIze.jpg" height="40" width="40" class="rounded-circle">
                    <div class="d-flex flex-column ms-2">
                        <h6 class="card-title pl-2 mb-2">Illya</h6>
                        <p class="card-text pl-2 mb-3">Successful outcome and valued support .. Mentor Education provided me with clear and concise materials and expectations. The assessors provided great and encouraging feedback and support... </p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row gap-3 align-items-center">
                        <div class="d-flex align-items-center"> <button type="button" class="btn btn-secondary btn-sm mb-2 ml-2">Comment</button></div>
                    </div>
                    <div class="d-flex flex-row"> <span class="text-muted fw-normal fs-8">June 21,2020 1:10 PM</span> </div>
                </div>
            </div>
            <div class="card p-3 mb-2">
                <div class="d-flex flex-row"> <img src="https://i.imgur.com/C4egmYM.jpg" height="40" width="40" class="rounded-circle">
                    <div class="d-flex flex-column ms-2">
                        <h6 class="card-title pl-2 mb-2">Yaroslav</h6>
                        <p class="card-text pl-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lectus nibh, efficitur in bibendum id, pellentesque quis nibh. Ut dictum facilisis dui, non faucibus dolor sit amet lorem auctor vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque risus mauris</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row gap-3 align-items-center">
                        <div class="d-flex align-items-center"><button type="button" class="btn btn-secondary btn-sm mb-2 ml-2">Comment</button> </div>
                    </div>
                    <div class="d-flex flex-row"> <span class="text-muted fw-normal fs-10">June 12,2020 12:10 PM</span> </div>
                </div>
            </div>
            <div class="card p-3 mb-2">
                <div class="d-flex flex-row"> <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(19).jpg" height="40" width="40" class="rounded-circle">
                    <div class="d-flex flex-column ms-2">
                        <h6 class="card-title pl-2 mb-2">Oksana <ngb-rating [rate]="5">5</ngb-rating></h6>
                        <p class="card-text pl-2 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lectus nibh, efficitur in bibendum id, pellentesque quis nibh. Ut dictum facilisis dui, non faucibus dolor sit amet lorem auctor vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque risus mauris</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row gap-3 align-items-center">
                        <div class="d-flex align-items-center"> <button type="button" class="btn btn-secondary btn-sm mb-2 ml-2">Comment</button></div>
                    </div>
                    <div class="d-flex flex-row"><span class="text-muted fw-normal fs-10">May 22,2020 12:10 PM</span> </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

