<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" routerLink="/" style="display: block;">
              <img class="logo" 
                  src="../../../../assets/images/Logo.png" 
                  alt="Logo"
                >
            </a>
            <nav class="header__menu">
                <ul class="header__menu__list">
                    <li class="header__menu__list-item">
                        <a class="header__menu__list-link" routerLink="/how-it-works">
                          {{ 'HEADER.LINKS.HOWORKS' | translate}}
                        </a>
                    </li>
                    <li class="header__menu__list-item">
                        <a class="header__menu__list-link" routerLink="/mentor">
                          {{ 'HEADER.LINKS.FINDMENTOR' | translate}}
                        </a>
                    </li>
                    <li class="header__menu__list-item">
                        <a class="header__menu__list-link" routerLink="/contacts">
                          {{ 'HEADER.LINKS.CONTACTS' | translate}}
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__btns">
                <ng-container *ngIf="isAuth; else unauthorized">
                    <div class="header__btns__inner" *ngIf="onHideBurger()">
                        <div class="header__btns-message__inner" 
                        [class.new-message]="checkNewMessage" 
                        (click)="isNewMessage = false"
                        >
                            <a class="header__btns-message" routerLink="/messages">
                              <i class="far fa-comments header__btns-chat"></i>                                
                            </a>
                            <i 
                              class="far fa-dot-circle header__btns-notifications--indicator red"
                              *ngIf="isNewMessage"
                            ></i>
                        </div>
                        <div class="header__btns-notifications__inner" (click)="open()">
                            <div class="header__btns-notifications">
                              <i class="far fa-bell header__btns-bell"></i>
                            </div>
                            <i 
                              class="far fa-dot-circle header__btns-notifications--indicator red"
                              *ngIf="notificationModalService.isNewNotification$ | async"
                            ></i>
                        </div>                        
                        <div class="header__btns-avatar" *ngIf="userName">
                            <div class="header__btns-avatar-border" *ngIf="avatar">
                                <img 
                                  class="mentor-card__image" 
                                  src="{{avatar}}" 
                                  alt="Avatar" 
                                  title="{{userName}}"
                                  (click)="showSettings()" 
                                  #toggleButton
                                >
                                <div class="settings-menu" *ngIf="showSettingsMenu" #menu>
                                  <div class="settings-menu__item">
                                      <i class="far fa-user settings-menu__item__img"></i>
                                      <a class="settings-menu__item__text" (click)="navigateTo('account')">
                                        {{ 'HEADER.MENU.ACCOUNT' | translate}}
                                      </a>
                                  </div>
                                  <div class="settings-menu__item">
                                      <i class="fas fa-cog settings-menu__item__img"></i>
                                      <a class="settings-menu__item__text" routerLink="/account/settings">
                                        {{ 'HEADER.MENU.SETTINGS' | translate}}
                                      </a>
                                  </div>
                                  <div class="settings-menu__item" (click)="logout()">
                                      <i class="fas fa-sign-out-alt settings-menu__item__img"></i>
                                      <a class="settings-menu__item__text">
                                        {{ 'HEADER.MENU.LOGOUT' | translate}}
                                      </a>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div 
                          class="header__burger" 
                          (click)="showMenu()" 
                          #toggleButton 
                          [ngClass]="{active : showBurgerMenu}"
                        >
                          <span class="header__burger-line"></span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="header__burger-menu" *ngIf="showBurgerMenu" #burgermenu>
            <ul class="header__burger-menu__list">
                <li class="header__burger-menu__list-item" (click)="showMenu()">
                    <a 
                      class="header__burger-menu__list-link" 
                      routerLink="/how-it-works">
                        {{ 'HEADER.LINKS.HOWORKS' | translate}}
                      </a>
                </li>
                <li class="header__burger-menu__list-item" (click)="showMenu()">
                    <a class="header__burger-menu__list-link" routerLink="/mentor">
                      {{ 'HEADER.LINKS.FINDMENTOR' | translate}}
                    </a>
                </li>
                <li class="header__burger-menu__list-item" (click)="showMenu()">
                    <a class="header__burger-menu__list-link" routerLink="/contacts">
                      {{ 'HEADER.LINKS.CONTACTS' | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<ng-template #unauthorized>
    <div class="signin-menu">
        <a class="header__btns-signin header__btn" routerLink="/auth/login">Sign In</a>
        <a class="header__btns-signup header__btn" routerLink="/auth/signup">Sign Up</a>
        <div 
          class="header__burger" 
          (click)="showMenu()" 
          #toggleButton 
          [ngClass]="{active : showBurgerMenu}"
        >
          <span class="header__burger-line"></span>
        </div>
    </div>
</ng-template>